.form-control:not(.form-file):not(.form-select)  ,
input.form-text ,
input.form-autocomplete  {
	border-color: $grey;
	color: $black;
	border-radius: 0;
    border: 2px solid $midgrey;
	  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	box-shadow: none !important;
}

.input-group-btn {
	border-radius: 0;
	background: #fff
}
		


.pager li>a ,
.pager li>span ,
.more-link ,
.btn ,
.btn-default ,
.btn-sm ,
.btn-primary ,
button  {
    @include dosis-semi;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0.25em 0.5em;
    color: $green;
    background: transparent;
    border: 2px solid  $green;
    border-radius: 0;
    text-decoration: none!important;
    margin: 1em 0;
    &:visited {
        //color: $black!important;
    }
    &:hover {
        color: $black;
        background-color: #fff;
        border-color: $black;
        text-decoration: none;
    }
    &:active {
        color: #fff!important;
        background: $black;
        border-color: $black;
        text-decoration: none!important;
    }
    .image-widget & {
        border-color: black;
    }
    &.btn-sm ,
    div.btn-sm & {
        font-size: 14px;
    }
    &.white {
        border-color: #fff;
        color: #fff;
        &:hover {
            color: $black;
            background-color: #fff;
            //border-color: $black;
        }
         &:active {background-color: $black;
             border-color: $black;
        }
    }
    
.yellow   & ,
    .institution_68 & ,
    .institution_72 & ,
    .institution_74 & , 
    .institution_77 & ,
    .institution_57 & {
        border-color: $black!important;
        color: $black!important;
        &:hover {
            color: $black;
            background-color: #fff;
            //border-color: #4f4e4d;;
        }
         &:active {background-color: $black;
             border-color: $black;
             color: #fff!important;
        }
    }
    
    
    
}






.more-link {
    font-size: 14px;
    border-color: $green;
    display:block;
    float:right;
    clear:both;
    &:hover {
        color: #fff!important;
        background: $green;
         border-color: $green;
    }
    &:active {
        background-color: $black;
        border-color: $black;
    }
}

#search-form,
#search-block-form {
    padding-right: 10px;
    .input-group .form-control,
    .btn-primary {
        padding: 6px 12px;
        font-size: 14px;
        color: #fff;
        margin: 0;
        background: $midgrey;
        border: none;
        border-radius: 0;
        height: auto;
    }
    .input-group .form-control {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      
        
    }
    .btn-primary {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        &:hover {
            background: $grey;
        }
        &:active {
            background: $black;
        }
    }
}












#search-block-form .input-group input.form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ebebeb;
}

#search-block-form .input-group input.form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ebebeb;
}

#search-block-form .input-group input.form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
   color: #ebebeb;
}

#search-block-form .input-group input.form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
   color: #ebebeb;
}


/*/ === DATE PICKER WIDGET === /*/
/* line 157, ../sass/_forms.scss */
.ui-widget {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #9375af;
}

/* line 164, ../sass/_forms.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header {
  border: 1px solid #9375af;
  background-image: url(none);
  background: rgba(147, 117, 175, 0.5);
  font-weight: 400;
  border-radius: 0;
}

/* line 175, ../sass/_forms.scss */
.ui-widget-header {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 182, ../sass/_forms.scss */
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus {
  border: none;
  background: transparent url(none);
}

/* line 189, ../sass/_forms.scss */
.ui-state-default:focus,
.ui-state-default:active {
  background: #9375af;
  color: #fff;
  outline: none;
}

