
#block-menu-menu-social-media {
    //float:left;
	margin:  0;
	padding: 0;
	.menu {
		padding: 0;
		margin: 0;
		list-style: none;text-align:right;
		li {
			padding: 0;
			margin: 0 .25rem 0 0;
			displaY: INLINE-BLOCK;
		}
		li.last {
			margin-right: 0
		}
		a {
			  font-family: 'cn_icons1';
			color: $green;
			height: 36px;
			width: 36px;
			text-indent: 0;
			displaY: BLOCK;
			padding: 0;
			margin: 0;
			font-size: 0;
			line-height: 1;
			text-decoration: none;
            text-align: center;
			//@include border-radius(50%);
		}
		li a[href*="facebook"]:after {
			@include icon-font('\f051');
		}
		li a[href*="twitter"]:after {
			@include icon-font('\f057');
		}
		li a[href*="youtube"]:after {
			@include icon-font('\f16a');
		}
        li a[href*="instagram"]:after {
			@include icon-font('\f16d');
		}
		li a:after {
			font-size: 36px!important;
			line-height: 36px!important;
			//padding-left: 0.2em!important;
		}
		li a:hover {
			color: $grey;
			background:transparent;

		}
	}
}


//@media all and (max-width: 768px) {
//	#block-menu-block-4 {
//		display: block;
//		float: left;
//		margin: 1em 0;
//		.menu {
//			text-align: center;
//			li a {
//				color: #fff;
//				background: $gray-darker;
//			}
//		}
//	}
//}
//
//@media all and (max-width: 625px) {
//	#block-menu-block-4 {
//		clear: both;float:none;
//		.menu {
//			text-align: center;
//		}
//	}
//}