.form-control:not(.form-file):not(.form-select)  ,
input.form-text ,
input.form-autocomplete  {
	border-color: $grey;
	color: $black;
	border-radius: 0;
    border: 2px solid $midgrey;
	  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	box-shadow: none !important;
}

.input-group-btn {
	border-radius: 0;
	background: #fff
}
		


.pager li>a,
.pager li>span,
.more-link,
.btn,
.btn-default,
.btn-sm,
.btn-primary,
button {
    @include dosis-semi;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0.25em 0.5em;
    color: $grey;
    background: transparent;
    border: 1px solid $grey;
    border-radius: 0;
    text-decoration: none!important;
    margin: 1em 0;
    &:visited {
        //color: $black!important;
    }
    &:hover {
        color: $black;
        background-color: #fff;
        border-color: $black;
        text-decoration: none;
    }
    &:active {
        color: #fff!important;
        background: $black;
        border-color: $black;
        text-decoration: none!important;
    }
    .image-widget & {
        border-color: black;
    }
    &.btn-sm   {
        font-size: 14px;
    }
    &.white {
        border-color: #fff;
        color: #fff;
        &:hover {
            color: $black;
            background-color: #fff;
            //border-color: $black;
        }
         &:active {background-color: $black;
             border-color: $black;
        }
    }
}



.more-link {
    font-size: 14px;
    border-color: $green;
    display:block;
    float:right;
    clear:both;
    &:hover {
        color: #fff!important;
        background: $green;
         border-color: $green;
    }
    &:active {
        background-color: $black;
        border-color: $black;
    }
}

#search-form,
#search-block-form {
    padding-right: 10px;
    .input-group .form-control,
    .btn-primary {
        padding: 6px 12px;
        font-size: 14px;
        color: #fff;
        margin: 0;
        background: $midgrey;
        border: none;
        border-radius: 0;
        height: auto;
    }
    .input-group .form-control {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      
        
    }
    .btn-primary {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        &:hover {
            background: $grey;
        }
        &:active {
            background: $black;
        }
    }
}
          


#search-block-form .input-group input.form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ebebeb;
}

#search-block-form .input-group input.form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ebebeb;
}

#search-block-form .input-group input.form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
   color: #ebebeb;
}

#search-block-form .input-group input.form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
   color: #ebebeb;
}
