@import 'mixins';
@import 'fonts';
//dosis-bold 
//dosis-semi 
//open-reg
//open-bold 
//open-reg-italic
//open-bold-italic
// Default variables.
@import 'default-variables';
// Base-theme overrides.
@import 'flexslider';
// Base-theme overrides.
@import 'overrides';
@import 'social_links';
@import 'forms';
@import 'navigation';

a:link ,
a:visited  {color:$green;}

.container-fluid {
    padding: 0 15px ;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    background-color: #FFF
}

header.header,
footer.footer {
    background: #fff;
    width: 100%;
    padding: 15px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    .container-fluid {
        background: transparent
    }
}

header.header {padding-bottom:0}

.page-header {
    padding-bottom: 0;
    margin: 10px 0 20px 0;
    border-bottom: none;
}

.field-name-field-date {
    text-transform: uppercase;
    margin: 1em 0
}

.node-article h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

a.more-link,
.node-readmore a {
    font-weight: bold;
    text-transform: uppercase;
    word-break: keep-all;
    &:link {
        text-decoration: none;
    }
    &:after {
        @include icon-font('\f105');
        font-size: 1em;
        padding-left: 4px;
    }
    &:hover {
        color: black;
        text-decoration: none;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid $midgrey;
    clear:both;
}

.views-row-last hr {
    display: none
}



/*/ === COLUMN OVERRIDES === /*/


.flush-left {
        padding-left: 0
    }
    .flush-right {
        padding-right: 0
    }



@media all and (max-width: 768px) {
    
 [class*="col-"]    [class*="col-"].field {
    padding-left: 0 !important;
     padding-right: 0 !important;
    }
}

/*/ === HEADER === /*/

.navbar.container-fluid {
    margin-top: 0px;
}

.navbar.container-fluid.navbar-default > .container-fluid  {
    margin-top: 0px;
}

.navbar-header {
    float: none;
    .navbar-btn.logo {
        padding: 0;
        margin:0;
        width: 180px;
        img {
            width: 100%;
        }
    }
    @media all and (max-width: 960px) {
        
         .navbar-btn.logo {
             width: 150px;}
        
    }
    .region-header {
        float: right;
        section#block-search-form,
        section#block-menu-menu-social-media {
            float: none;
            margin: 0 0 0.5em 1em;
        }
        section#block-menu-menu-social-media {
            margin-right: 0.5em
        }
        section#block-search-form {
            padding-top: 3px
        }
    }
    @media all and (min-width: 769px) {
        .navbar-collapse {
            float: right;
        }
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
@media all and (max-width: 769px) {
    .navbar-collapse {
        float: none;
        clear: both;
        .region-navigation .block-menu-block {
            float: none;
            clear: both;
        }
    }
}

 



@media all and (min-width: 600px) {
    .navbar-header .region-header {
        section#block-search-form,
        section#block-menu-menu-social-media {
            clear: none;
            float: right;
            margin: 0 0 0.5em 1em
        }
        
    }
}

navbar-nav.menu.nav {
    li {
        display: inline-block;
        a {
            display: inline;
            color: $midgrey;
            &:hover {
                color: #fff;
                text-decoration: underline;
                background: transparent;
            }
        }
    }
}



.navbar.container-fluid.navbar-default {
    margin-bottom:0;
    .container-fluid {
        padding-top: 0;
        padding-bottom:0;
        margin-bottom:0;
    }
}


/*/ === Navigation === /*/







ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

ul.nav li.dropdown ul.dropdown-menu { 
  margin-top: 0;
}

.navbar.container-fluid.navbar-default {
    border: none;
    >.container-fluid {
        padding: 0 15px 10px 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1170px;
    }
}


/*/ === MAIN SECTION === /*/


#page-header {}


aside[role="complementary"]  {padding-top: 15px;}

.main-container section#content-section {
    padding-top: 15px;
    &.col-sm-12 {
        @media (min-width: 768px) {
            padding-right: 100px;
            padding-left: 100px;
        }
        @media (min-width: 960px) {
            padding-right: 200px;
            padding-left: 200px;
        }
    }
}

/*/ === FOOTER === /*/


footer.footer {
    background: $green;
}





#block-menu-block-1 {
    margin: 0;
    float: none;
    .menu.nav {
        li {
            display: inline-block;
            a {
                color: #fff;
                text-decoration:none;
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                    background: transparent;
                }
            }
            li {
                display: block;
            }
        }
    }
}


$green:#87ad26;
$purple:#9375af;
$blue:#9bd6e5;
$yellow:#fced3a;
$black:#4f4e4d;



/*/ ===  FEATURE BOXES === /*/

    .feature-box {            margin: 15px -15px 15px -15px;
        .views-row {
            margin: 15px 0;
            .wrapper {
                overflow: hidden;
                border-top: 6px solid red;
                position: relative;
                display: block;
                img {
                    width: 100%;
                    height: inherit
                }
                .text-content {
                    position: absolute;
                    transition-property: top;
                    transition-duration: .5s;
                    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
                    top: 100%;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 6px 12px 12px 12px;
                    h2 {
                        font-size: 24px;
                        margin: 0 0 10px 0
                    }
                    p {
                        color: #fff
                    }
                }
                &:hover {
                    cursor: pointer;
                    .text-content {
                        top: 0;
                    }
                }
            }
            &.Purple .wrapper {
                border-color: $purple;
                .text-content {
                    background: rgba( $purple, 0.85);
                }
            }
            &.Green .wrapper {
                border-color: $green;
                .text-content {
                    background: rgba( $green, 0.85);
                }
            }
            &.Blue .wrapper {
                border-color: $blue;
                .text-content {
                    background: rgba( $blue, 0.85);
                }
            }
            &.Yellow .wrapper {
                border-color: $yellow;
                .text-content {
                    background: rgba( $yellow, 0.85);
                }
            }
            .view-team-page & .wrapper {
                border-color: $blue;
                .text-content {
                    background: rgba( $blue, 0.85);
                }
            }
        }
         .view-team-page   & {
            margin: 0;
        }
    }



.feature-box  {
    #overlay_toggle1:checked~.view-content .wrapper {
        .text-content {
            top: 0;
        }
        &:hover {
            cursor: default
        }
    }
}

.feature-box {
    #overlay_toggle2:checked~.view-content .wrapper {
        .text-content {
            top: 0;
        }
        &:hover {
            cursor: default
        }
    }
}

.feature-box-top  {
    position: relative;
}

.feature-box {
    label[for=overlay_toggle2] {
        position: absolute;
        top: 50%;
        left: 100%
    }
}

label[for=overlay_toggle1],
label[for=overlay_toggle2] {
    margin-top: -1em;
    color: $purple;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
    span {
        em {
            display: none;
        }
        &:before {
            @include icon-font('\f13a');
        }
    }
    &:hover {
        color: $green;
    }
}



#overlay_toggle1,
#overlay_toggle2 {
    display: none;
    &:before {
        @include icon-font('\f13a');
    }
    &:checked~label[for=overlay_toggle1],
    &:checked~label[for=overlay_toggle2] {
        span {
            &:before {
                @include icon-font('\f139');
            }
        }
    }
}

@media all and (max-width: 768px) {
    .view-team-page.view-display-id-page > .view-content > .views-row ,
            .view-front-page-feature-boxes .views-row {
                width: 33.3%;
                float: left
            }
}
        
@media all and (max-width: 600px) {
     .view-team-page.view-display-id-page > .view-content > .views-row ,
            .view-front-page-feature-boxes .views-row {
                width: 50%;
            }
}
        
@media all and (max-width: 480px) {
     .view-team-page.view-display-id-page > .view-content > .views-row ,
            .view-front-page-feature-boxes .views-row {
                width: 100%;
                float: none;
                .wrapper {
                    max-height: 200px; 
                }
            }
}

/*/ === TEAM PAGE === /*/


.view-team-page.view-display-id-page {
    margin: 15px -15px 15px -15px;
    h3 {
        clear: both;
        margin: 20px 15px 0px 15px;
    }
}




/*/ === PARAGRAPH BUNDLES === /*/
.paragraphs-items-field-text-image-paragraph {
    h2 {
        clear: both
    }
    img {
        float: none;
        margin: 1em 0;
    }
    @media all and (min-width: 768px) {
        img {
            float: right;
            margin: 0 0 1em 1em
        }
    }
}